*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #811b1b; 
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0e9954; 
}
.main{
    font-family: Montserrat,sans-serif;
}
.header{
  height: auto;
  position: absolute;
  z-index: 99;
  width: 100%;
}
.sub{
    display: flex;
    justify-content:space-between;
    list-style: none;
}
.sub .all-page li{
    display: inline-block;
    font-size: 18px;
}

.sub .all-page > li:hover{
    background-color: #003f62;
    cursor: pointer;
}
.sub .all-page > li:hover > a{
    color: #db9614 !important;
}
.sub .for-user .icon-head{
    display: inline-block;
    line-height: 50px;   
    padding: 0 20px;
    font-size: 20px;
    position: relative;
}
.research{
    display: none;
    position: absolute;
    padding: 2% 2%;
    right: 50%;
    transform: translateX(-50%);
    top: 39px;
    width: 10px;
    /* animation: inputSearch 0.5 linear ;
    transition: width 0.4s ease-in 0ms; */
}
@keyframes inputSearch {
    from{
        width: 10px;
    }to{
        width: 400px;
    }

}
.focus-research{
    display: block;
    position: absolute;
    width: 400px;
    padding: 2% 2%;
    left: -50%;
    transform: translateX(-30%);
    top: 39px;
}
.research input{
    padding: 5px;
    border: 1px solid #fff;
}
.icon-head a{
    color: #fff;
}
.btn-menu{
    font-size: 20px;
    cursor: pointer;
}

.sub .sub-menu{
    position: relative;
}
.sub .all-page li:hover .sub-menu-right,
.sub .all-page li:hover .sub-menu-left{
   display: block;
}
.sub-menu .sub-menu-left{
    display: none;
    position: absolute;
    min-width: 170px;
    opacity: 0.7;
}
.sub-menu .sub-menu-left li{
    display: block;
    background-color: #0d0d0d;
    font-size: 16px;
}
.sub-menu .sub-menu-left li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
}
.sub-menu .sub-menu-right{
    display: none;
    position: absolute;
    min-width: 170px;
    margin-left: 170px;
    opacity: 0.7;
}
.sub-menu .sub-menu-right li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
}
.sub-menu .sub-menu-right li{
    display: block;
    background-color: #0d0d0d;
    font-size: 16px;
}
.sub .all-page > li > a{
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    color: #fff;
}
.sub .all-page .sub-contact{
   position: absolute;
}
.sub .all-page li:hover .sub-contact-element{
    display: block;
 }
.sub-contact .sub-contact-element{
    display: none;
    min-width: 200px;
    opacity: 0.7;
}
.sub-contact .sub-contact-element li{
    display: block;
    background-color: #0d0d0d;
}
.sub-contact .sub-contact-element li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    text-align: center;
}
.sub .for-user li {
    display: inline-block;
    border-radius: 99999999px;
}
.sub .for-user  li > a{
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
}
.slider{
    position: relative;
}
.slider::before{
    content: '';
    background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 5;
}
.slider-img{
    width: 100%;
}
.slider-main{
    position: absolute;
    width: 100%;
    /* margin-top: 8%; */
    text-align: center;
    color: #fff;
    font-size: 28px;
    top: 20%;
    z-index: 20;
}
.heading-tilte-page{
    text-transform:uppercase ;
}
.title-page p {
    font-style: italic;
}
.title-boder{
    border: 1px solid #fff;
    width: 5%;
    margin-left: 45%;
    transform: translateX(40%);
    margin: 1% 45%;
}

.container{
    
}
.container-layout{
    max-width: 1200px;
    margin: auto;
}
.container-heading{
    padding: 2% 0;
}
.container-heading h1{
    text-align: center;
    font-weight: 400;
    color: #03679c;
    text-transform: uppercase;
    line-height: 1.4;
}
.heading-border{
    padding: 1% 0;
    border-bottom: 1px dashed;
    width: 20%;
    left: 50;
    margin-left: 40%;
}
.container-product{
    position: relative;
    display: block;
    height: auto;
    text-align: center;
    
}
.row-cate{
    position: relative;
    display: block;
    height: auto;
    text-align: center;
    width: 100%;
}
.row-cate::after{
    content: '';
    position: absolute;
    border-bottom: 1px dashed #026ca4;
    width: 20%;
    margin-left: 40%;
    top: 0;
    left: 0;
}
.animate .item-cate:nth-child(1){
    animation: moveLeft .7s ease-in;
    transition: all .7s ease-in 0ms;
}
.animate .item-cate:nth-child(2){
    animation: moveRight .7s ease-in;
    transition: all .7s ease-in 0ms;
    margin-left: 2%;
}

.item-cate{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 3% 0;
    width: 100%;
}
.item-cate:before{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid #003f62;
    width: 98%;
    height: 97%;
    opacity: 0;
    z-index: 10;
    transition: all 500ms ease-in 0ms;
}
.item-cate:hover::before{
    border-color: #003f62;
    opacity: 1;
}

.pic-cate{ 
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
.pig-img{
    height: 420px;
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.pig-img img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}
.title-cate{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.5);
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    transition: all 500ms ease-in 0ms;
}
.item-cate:hover .title-cate{
    background-color: #003f62;
}
.product-cate-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.footer{
    padding-top: 2%;
}
.hotline{
    padding: 2% 0;
    background-color: #1c252e;
}
.hotline-address{
    display: flex;
    justify-content: center;
    gap: 1%;
}
.hotline-icon{
    font-size: 40px;
    color: #db9614;
}
.hotline-text p {
    font-size: 12px;
    color: #cccc;
}
.hotline-text h2 {
    font-size: 29px;
    color: #fff;
    font-weight: 400;
    margin-top: 4px;
}
.hotline-text h2:hover{
    color: #db9614;
    cursor: pointer;
    transition: all 200ms ease-in 0ms;
}
.info{
    padding: 3% 3%;
    background-color: #002a41;
    display: flex;
    justify-content: space-between;
}

.column-info h2{
    color: #cccc;
}
.info-address{
    margin-top: 6%;
}
.animateUp{
    animation: skyMove .4s linear;
    transition: all .5s ease-in 0ms;
}
.row-address{
    margin-top: 5%;
    display: flex;
    gap: 2%;
    color: #cccc;
}
.social-nw{
    padding: 1% 0;
    background-color: #002134;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.social-nw a{
    font-size: 22px;
    color: #cccc;
}
.social-nw a:hover{
    color: #fff;
    transform: scale(1.2);
    transition: all .3s ease-in-out 0ms;
}
.copyright{
    color: #9b9b9b;
    background-color: #000;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}
.copyright a{
    color: #9b9b9b ;
    text-decoration: none;
}
.copyright a:hover{
    color: #db9614;
}


@keyframes moveRight{
    0%{
        transform: translateX(50%);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveLeft{
    from{
        opacity: 0;
        transform: translateX(-50%);
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes skyMove{
    from{
        opacity: 0;
        transform: translateY(50%);
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}
.slide{
    animation: moveRight 2s ease-in;
}




@media only screen and (max-width:  1536px){
    .for-user .menuMobile-icon{
        display: none;
    }
    .btn-menu{
        display: none;
    }
    .sub .all-page > li:hover{
        background-color: #003f62;
        cursor: pointer;
    }
    .sub .all-page > li:hover > a{
        color: #db9614 !important;
    }
    .sub .sub-menu-left li:hover {
        background-color: #003f62;
    }
    .sub .sub-menu-right li:hover {
        background-color: #003f62;
    }
    .sub-contact .sub-contact-element li:hover{
        background-color: #003f62;
    }
    .sub .for-user .icon-head:hover{
        background-color: orange;
        cursor: pointer;
        border-radius: 9999px;
        transition: all .3s ease-in 0ms;
    }
    .sub .for-user .icon-head:hover a{
        color: #fff;
    }
}
@media only screen and (max-width: 1024px){
    .sub .all-page li{
        font-size: 16px;
    }
    .sub-menu-left li{
        font-size: 14px;
    }
    .sub-menu-left li{
        font-size: 14px;
    }
    .sub .all-page > li:hover{
        background-color: #003f62;
        cursor: pointer;
    }
    .sub .all-page > li:hover > a{
        color: #db9614 !important;
    }
    .sub .sub-menu-left li:hover {
        background-color: #003f62;
    }
    .sub .sub-menu-right li:hover {
        background-color: #003f62;
    }
    .sub-contact .sub-contact-element li:hover{
        background-color: #003f62;
    }
    .container-layout{
        padding: 0 3%;
    }
    .pig-img{
        height: 360px;
    }
    .info{
       display: none;
    }
    .hotline{
        display: none;
    }
    .menuMobile-icon {
        display: none;
    }
   
}
@media only screen and (max-width: 992px){
    .header{
      background-color: #03679c;
      position: fixed;
    }
    .all-page .logo{
        display: none !important;
    }
    .sub{
        display: block;
    }
    .sub .all-page{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 28%;
        height: calc(100vh - 50px);
        margin-top: 50px;
        overflow-y: auto;
        background-color: #03679c;
        animation: moveRight ease-in .4s ;
        z-index: 10000;
    } 
    .sub .all-page > li:hover{
        background-color: transparent;
        cursor: pointer;
    }
    .sub .all-page > li:hover > a{
        color: #fff !important;
    }
    .sub .all-page  li{
        display: block;
        overflow: hidden; 
    } 
    .sub .for-user{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .sub-menu{
        /* display: block; */
    }
    
    .sub .sub-menu-left {
        display: block;
        position: relative;

    }
    .sub-menu .sub .sub-menu-left li:hover{
        background-color: transparent;
        color: #fff;
    }
    .sub .sub-menu-left > li{
        background-color: #03679c;
        min-width: 290px;
        display: block;
    }
    .sub .sub-menu-left li a{
        padding-left: 40px;
    }
    .sub .sub-menu-right {
        display: block;
        position: relative;
        margin-left: 0;
    }
    .sub .sub-menu-right > li{
        background-color: #03679c;
        min-width: 290px;    
        display: block;
    }
    .sub .sub-menu-right li a{
        padding-left: 40px;
    }
    .sub-contact .sub-contact-element li{
        display: block;
        background-color: #03679c;
        position: none;
    }
    .sub-contact .sub-contact-element{
        display: block;
        min-width: 290px;
    }
    .sub-contact .sub-contact-element li a{
        text-align: start;
        padding-left: 40px;
    }
    .sub .for-user li:hover{  
        cursor: pointer;
    }
    .pig-img{
        height: 300px;
    }
    .title-cate{
        padding: 15px;
        font-size: 18px;
    }
    .btn-menu{
        display: inline-block;
        font-size: 20px;
        color: #fff;
        padding: 0 20px;
        cursor: pointer;
        position: relative;
    }
    @keyframes moveRight{
        0%{
            transform: translateX(50%);
            opacity: 0;
        }100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 568px){
    .sub .for-user .icon-head{
        font-size: 17px;
    }
   .slider-main{
    top: 11%;
    font-size: 14px;
   }
   .container-layout{
    padding: 1% 10%;
   }
   .container-heading{
    font-size: 13px;
   }
   .pig-img{
    height: 250px;
   }
   .row-cate::after{
    content: '';
    position: absolute;
    top: -3%;
   }
   .item-cate{
    display: block;
    margin-top: 10%;
   }
   .item-cate:nth-child(1){
    width: 100% !important;
   }
   .item-cate:nth-child(2){
    width: 100%  !important;
    margin-left: 0 !important;
   }
   .item-cate:before{
    content: '';
    position: absolute;
    width: 95%;
    height: 96%;
   }
   .title-cate{
    font-size: 14px;
   }
   .social-nw a{
    font-size: 14px;
   }
   .copyright p{
    font-size: 8px;
   }
   
}