@import "./_header.scss";
@import "./slider.scss";
@import "./container.scss";
@import "./footer.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  font-family: Montserrat, sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
