@media only screen and (max-width: 1024px){
    .header__all-page li{
        font-size: 16px;
    }
    .header__all-page__sub-menu__left li{
        font-size: 14px;
    }
    .header__all-page__sub-menu__left li{
        font-size: 14px;
    }
    .header__all-page > li:hover{
        background-color: #003f62;
        cursor: pointer;
    }
    .header__all-page > li:hover > a{
        color: #db9614 !important;
    }
    .header__all-page__sub-menu__left li:hover {
        background-color: #003f62;
    }
    .header__all-page__sub-menu__right li:hover {
        background-color: #003f62;
    }
    .header__all-page__sub-contact .header__all-page__sub-contact__element li:hover{
        background-color: #003f62;
    }
    .container-layout{
        padding: 0 3%;
    }
    .pig-img{
        height: 360px;
    }
    .info{
       display: none;
    }
    .hotline{
        display: none;
    }
    .menuMobile-icon {
        display: none;
    }
   
}