@media only screen and (max-width: 992px){
    .header{
      background-color: #03679c;
      position: fixed;
      display: block;
    }
    .header__all-page .header__all-page__logo{
        display: none !important;
    }
    .header__all-page{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 28%;
        height: calc(100vh - 50px);
        margin-top: 50px;
        overflow-y: auto;
        background-color: #03679c;
        animation: moveRight ease-in .4s ;
        z-index: 10000;
    } 
    .header__all-page > li:hover{
        background-color: transparent;
        cursor: pointer;
    }
    .header__all-page > li:hover > a{
        color: #fff !important;
    }
    .header__all-page  li{
        display: block;
        overflow: hidden; 
    } 
    .header__for-user{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .header__all-page__sub-menu .header__all-page__sub-menu__left {
        display: block;
        position: relative;

    }
    .header__all-page__sub-menu .header__all-page__sub-menu__left li:hover{
        background-color: transparent;
        color: #fff;
    }
    .header__all-page__sub-menu .header__all-page__sub-menu__left > li{
        background-color: #03679c;
        min-width: 290px;
        display: block;
    }
    .header__all-page__sub-menu .header__all-page__sub-menu__left > li a{
        padding-left: 40px;
    }
    .header__all-page__sub-menu .header__all-page__sub-menu__right{
        display: block;
        position: relative;
        margin-left: 0;
    }
    .header__all-page__sub-menu .header__all-page__sub-menu__right > li{
        background-color: #03679c;
        min-width: 290px;    
        display: block;
    }
    .header__all-page__sub-menu .header__all-page__sub-menu__right > li a{
        padding-left: 40px;
    }
    .header__all-page__sub-contact .header__all-page__sub-contact__element li{
        display: block;
        background-color: #03679c;
        position: none;
    }
    .header__all-page__sub-contact .header__all-page__sub-contact__element{
        display: block;
        min-width: 290px;
    }
    .header__all-page__sub-contact .header__all-page__sub-contact__element li a{
        text-align: start;
        padding-left: 40px;
    }
    .header__for-user li:hover{  
        cursor: pointer;
    }
    .pig-img{
        height: 300px;
    }
    .title-cate{
        padding: 15px;
        font-size: 18px;
    }
    .header__for-user__icon-head__btn-menu{
        display: inline-block;
        font-size: 20px;
        color: #fff;
        padding: 0 20px;
        cursor: pointer;
        position: relative;
    }
    @keyframes moveRight{
        0%{
            transform: translateX(50%);
            opacity: 0;
        }100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}