.header {
  height: auto;
  position: absolute;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__all-page li {
  display: inline-block;
  font-size: 18px;
}

.header__all-page > li:hover {
  background-color: #003f62;
  cursor: pointer;
}
.header__all-page > li:hover > a {
  color: #db9614 !important;
}
.header__for-user .header__for-user__icon-head {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  font-size: 20px;
  position: relative;
}
.header__for-user__icon-head__research {
  display: none;
  position: absolute;
  padding: 2% 2%;
  right: 50%;
  transform: translateX(-50%);
  top: 39px;
  width: 10px;
}
.header__for-user__icon-head__research input {
  padding: 5px;
  border: 1px solid #fff;
}
.header__for-user__icon-head a {
  color: #fff;
}
.header__for-user__icon-head__btn-menu {
  font-size: 20px;
  cursor: pointer;
  padding: 0 20px;
  color: #fff;
}

.header__all-page__sub-menu {
  position: relative;
}
.header__all-page li:hover .header__all-page__sub-menu__right,
.header__all-page li:hover .header__all-page__sub-menu__left {
  display: block;
}
.header__all-page__sub-menu .header__all-page__sub-menu__left {
  display: none;
  position: absolute;
  min-width: 170px;
  opacity: 0.7;
}
.header__all-page__sub-menu .header__all-page__sub-menu__left li {
  display: block;
  background-color: #0d0d0d;
  font-size: 16px;
}
.header__all-page__sub-menu .header__all-page__sub-menu__left li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
}
.header__all-page__sub-menu .header__all-page__sub-menu__right {
  display: none;
  position: absolute;
  min-width: 170px;
  margin-left: 170px;
  opacity: 0.7;
}
.header__all-page__sub-menu .header__all-page__sub-menu__right li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
}
.header__all-page__sub-menu .header__all-page__sub-menu__right li {
  display: block;
  background-color: #0d0d0d;
  font-size: 16px;
}
.header__all-page > li > a {
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
}
.header__all-page .header__all-page__sub-contact {
  position: absolute;
}
.header__all-page li:hover .header__all-page__sub-contact__element {
  display: block;
}
.header__all-page__sub-contact .header__all-page__sub-contact__element {
  display: none;
  min-width: 200px;
  opacity: 0.7;
}
.header__all-page__sub-contact .header__all-page__sub-contact__element li {
  display: block;
  background-color: #0d0d0d;
}
.header__all-page__sub-contact .header__all-page__sub-contact__element li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
}
.header .header__for-user {
  display: flex;
  align-items: center;
  border-radius: 99999999px;
}
.header .header__for-user > a {
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
}
.slide {
  animation: moveRight 2s ease-in;
}
